<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
        http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <display-name>Travel Portal</display-name>

    <listener>
        <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>

    <servlet>
        <servlet-name>view</servlet-name>
        <servlet-class>
            org.springframework.web.servlet.ViewRendererServlet
        </servlet-class>
    </servlet>

    <servlet>
        <servlet-name>weather</servlet-name>
        <servlet-class>
            org.apache.pluto.container.driver.PortletServlet
        </servlet-class>
	<init-param>
	  <param-name>portlet-name</param-name>
	  <param-value>weather</param-value>
	</init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>flight</servlet-name>
        <servlet-class>
	  org.apache.pluto.container.driver.PortletServlet
        </servlet-class>
        <init-param>
            <param-name>portlet-name</param-name>
            <param-value>flight</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>tour</servlet-name>
        <servlet-class>
	  org.apache.pluto.container.driver.PortletServlet
        </servlet-class>
        <init-param>
            <param-name>portlet-name</param-name>
            <param-value>tour</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>view</servlet-name>
        <url-pattern>/WEB-INF/servlet/view</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>weather</servlet-name>
        <url-pattern>/PlutoInvoker/weather</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>flight</servlet-name>
        <url-pattern>/PlutoInvoker/flight</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>tour</servlet-name>
        <url-pattern>/PlutoInvoker/tour</url-pattern>
    </servlet-mapping>

</web-app>
